<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
    <add key="AuthHeader" value="Authorization" />
    <add key="LandingPage" value="index.html" />
    <add key="ErrorPage" value="index.htm" />
	<add key="headerKeyDefaultValue" value="" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
                <clear />
                <add value="default.bank" />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
      </files>
    </defaultDocument>
	<rewrite>
        <rules>
            <rule name="angularjs routes" stopProcessing="true">
                <match url=".*" />
                <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                </conditions>
                <action type="Rewrite" url="/index.html" />
            </rule>
        </rules>
    </rewrite>
    <handlers>
      <add name="Auth" verb="*" path="*.bank" type="Interceptor.RequestInterceptor, Interceptor" />
    </handlers>
	<security>
		<requestFiltering>
            <verbs>
                <add verb="PUT" allowed="true" />
                <add verb="GET" allowed="true" />
                <add verb="POST" allowed="true" />
                <add verb="DELETE" allowed="true" />
            </verbs>
		</requestFiltering>
	</security>
	<validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
        <remove name="WebDAVModule"/>
    </modules>
  </system.webServer>
</configuration>
